/* video {
  object-fit: cover;
  width: 100%; 
  height: 100%;
  position: fixed;
  z-index: -1;
} */

.background img {
  width: 100%;
}

.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; *
  max-width: 100%; /*unsure - worked*/
  position: relative;
  max-width: 100%;
  height: 70vh;
  display: flex; /*needed flex to align*/
  background-image: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-bottom-left-radius: 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow: hidden;
}

.hero-wrapper {
  position: absolute;
  width: 80%;
}

.hero-wrapper h1 {
  color: white;
  font-size: 50px;
}

.hero-wrapper > p {
  /* margin-top: 30px; */
  color: #fff;
  font-size: 20px;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
  font-size: 1.2em;
}

/*Mobile*/
@media screen and (max-width: 960px) {
  .hero-wrapper > h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 20px;
  }
}

/*smallest mobile screen*/
@media screen and (max-width: 768px) {
  .background img {
    width: 200%;
    float: left;
    height: 100%;
    margin-left: -100px;
    margin-top: 200px;
  }

  .hero-wrapper > h1 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    /* margin-top: -100px; */
  }

  .hero-wrapper > p {
    font-size: 20px;
  }

  .btn-mobile {
    /* display: block; */
    text-decoration: none;
  }
}
